
:root{
    --color-1: #212428;
    --color-2: #c4cfde;
    --color-3: #ff014f;
    --color-4: #121415;
    --color-5: #ffffff11;
    --color-6: #32363b;
    --color-7: #878e99;
    --color-8: #191c1f;
    --a-font-size: 16px;
    --h1-font-size: 44px;
    --h3-font-size: 28px;
    --h4-font-size: 20px;
    --h6-font-size: 14px;
    --p-font-size: 16px;
    --p-2-font-size: 14px;
    --p-3-font-size: 12px;
    --span-font-size: 16px;
    --li-font-size: 16px;
    --li-2-font-size: 24px;
    --linear-gradient-1: linear-gradient(to right bottom, #1f2225da, #26292eda);
    --linear-gradient-2: linear-gradient(to right bottom, #26292e, #1f2225);
    --box-shadow-1: rgba(0, 0, 0, 0.15) 3px 3px 4px;
    --box-shadow-2: -3px -3px 7px #2b2e3365, 3px 3px 7px #14151860;
    --box-shadow-3: -1px -1px 5px #2b2e3365, 1px 1px 5px #14151860;
    --box-shadow-4: -3px -3px 4px #2b2e3365, 3px 3px 4px #14151860;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: var(--color-2);
    font-family: 'Montserrat', sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-1); 
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-6); 
    border-radius: 5px;
  }


/*---------------------------- Header ---------------------------- */

.humb-div{
    display: none;
}
header{
    height: 100vh;
    width: 281px;
    padding: 50px 40px;
    background-color: var(--color-1);
    position: fixed;
    box-shadow: var(--box-shadow-1);
    display: flex;
    flex-direction: column;
}
.logo-area img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--color-6);
}
.side-nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0;
}
.side-nav i{
    margin-right: 15px;
}
.side-nav a{
    height: 35px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: var(--li-font-size);
    color: var(--color-2);
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}
.side-nav a:hover{
    color: var(--color-3);
}
.active{
    color: var(--color-3) !important;
}
.side-footer{
    width: 100%;
    height: 130px;
    margin-top: auto;
    border-top: 1px solid var(--color-4);
}
.side-footer p{
    font-size: var(--p-2-font-size);
    margin: 30px 0 0 0;
}
.side-footer ul{
    width: 100%;
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.side-footer li{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.side-footer a{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: var(--li-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
    text-decoration: none;
    background: var(--linear-gradient-1);
    box-shadow: var(--box-shadow-2);
    transition: 0.2s;
}
.side-footer a:hover{
    color: var(--color-3);
    box-shadow: var(--box-shadow-3)
}


/*---------------------------- Main ---------------------------- */

.main{
    width: 100% calc(-280px);
    margin-left: 280px;
    padding: 0 20px;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------------------- About me ----------------------------*/
.about-section{
    width: 1200px;
    height: 600px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-section-div{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-section-div h1{
    font-size: var(--h1-font-size);
    margin: 10px 0;
}
.about-section-div h1 span{
    color: var(--color-3);
}
.about-section-div h3{
    font-size: var(--h3-font-size);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 10px 0;
}
.about-section-div h3 span{
    color: var(--color-3);
    font-weight: 200;
}
.about-section-div a{
    width: 150px;
    height: 50px;
    color: var(--color-3);
    font-size: var(--a-font-size);
    font-weight: 300;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 30px;
    background: var(--linear-gradient);
    box-shadow: var(--box-shadow-2);
    transition: 0.2s;
}
.about-section-div a:hover{
    box-shadow: var(--box-shadow-3);
}

/*---------------------------- Knowledge ----------------------------*/
.knowledge-section{
    width: 1200px;
    padding: 80px 0;
    border-top: 1px solid var(--color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.knowledge-section p{
    font-size: var(--p-2-font-size);
    color: var(--color-3);
    margin: 0;
}
.knowledge-section h1{
    font-size: var(--h1-font-size);
    margin: 10px 0;
}
.knowledge-section-div{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between; 
}
.knowledge-section-div-left,
.knowledge-section-div-right{
    width: 47%;
    display: flex;
    flex-direction: column;
}
.knowledge-section-div h3{
    font-size: var(--h3-font-size);
    margin: 20px 0 0 0;
}
.progress-chart{
    width: 100%;
    height: 45px;
    margin: 25px 0 0 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-4);
}
.progress-chart h6{
    font-size: var(--h6-font-size);
    color: var(--color-7);
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/*---------------------------- Portfolio ----------------------------*/
.portfolio-section{
    width: 1200px;
    padding: 80px 0;
    border-top: 1px solid var(--color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-section p{
    font-size: var(--p-2-font-size);
    color: var(--color-3);
    margin: 0;
}
.portfolio-section h1{
    font-size: var(--h1-font-size);
    margin: 10px 0;
}
.portfolio-section-div{
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.portfolio-section-column{
    width: 100%;
    height: 400px;
    margin: 50px 0;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background: var(--linear-gradient-1);
    box-shadow: var(--box-shadow-2);
}
.portfolio-section-column-img{
    width: 630px;
    height: 100%;
    position: relative;
}
.laptop-mockup{
    width: 450px;
    position: absolute;
    top: 30px;  
    transition: 0.3s;
}
.phone-mockup{
    width: 160px;
    top: 45px;
    right: 0;
    position: absolute;
    transition: 0.3s;
}
.portfolio-section-column:hover .laptop-mockup,
.portfolio-section-column:hover .phone-mockup{
    transform: scale(1.1);
}
.portfolio-section-column-text{
    width: 350px;
    height: 100%;
    position: relative;
}
.portfolio-section-column-text h3{
    font-size: var(--h3-font-size);
    margin: 20px 0;
}
.portfolio-section-column-text ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.portfolio-section-column-text li{
    font-size: var(--li-font-size);
    margin: 20px 0;
}
.portfolio-section-column-text li I{
    margin-right: 10PX;
}
.portfolio-section-column-text a{
    width: 150px;
    height: 50px;
    color: var(--color-3);
    font-size: var(--a-font-size);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--linear-gradient);
    box-shadow: var(--box-shadow-2);
    transition: 0.2s;
    position: absolute;
    right: 0;
    bottom: 0;
}
.portfolio-section-column-text a:hover{
    box-shadow: var(--box-shadow-3);
}

/*---------------------------- Education ----------------------------*/
.education-section{
    width: 1200px;
    padding: 80px 0;
    border-top: 1px solid var(--color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education-section p{
    font-size: var(--p-2-font-size);
    color: var(--color-3);
    margin: 0;
}
.education-section h1{
    font-size: var(--h1-font-size);
    margin: 10px 0;
}
.education-section-div{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.education-section-left,
.education-section-right{
    width: 500px;
    height: 650px;
    padding: 30px;
    border-radius: 15px;
    background: var(--linear-gradient-1);
    box-shadow: var(--box-shadow-2);
    display: flex;
    flex-direction: column;
}
.education-section-div img{
    margin: 0 0 50px 0;
    transition: 0.3s;
}
.education-section-div img:hover{
    transform: scale(1.5);
}
.education-section-div h3{
    margin: 0 0 15px;
    font-size: var(--h3-font-size);
}
.education-section-div h4{
    font-size: var(--h4-font-size);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 0 15px;
}
.education-section-div p{
    font-size: var(--p-font-size);
    font-weight: 400;
    margin: 0;
}

/*---------------------------- Contact ----------------------------*/
.contact-section{
    width: 1200px;
    padding: 80px 0 100px 0;
    border-top: 1px solid var(--color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-section p{
    font-size: var(--p-2-font-size);
    color: var(--color-3);
    margin: 0;
}
.contact-section h1{
    font-size: var(--h1-font-size);
    margin: 10px 0;
}
.contact-section-div{
    width: 100%;
    margin: 50px 0;
    display: flex;
}
.contact-section-div ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-section-div li{
    font-size: var(--li-2-font-size);
    margin: 30px 0;
    font-weight: 600;
}
.contact-section-div li I{
    margin-right: 10px;
}
.contact-section-div .phone{
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.contact-section-div .mail{
    margin-left: 75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.contact-section-div .location{
    margin-left: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* ============================================ 1600 px ============================================ */

@media screen and (max-width: 1600px) {
    
    :root{
        --a-font-size: 10px;
        --h1-font-size: 30px;
        --h3-font-size: 18px;
        --h4-font-size: 12px;
        --h6-font-size: 10px;
        --p-font-size: 10px;
        --p-2-font-size: 10px;
        --p-3-font-size: 12px;
        --span-font-size: 16px;
        --li-font-size: 10px;
        --li-2-font-size: 16px;
    }

/* ---------------------------- Header ---------------------------- */
    header{
        width: 191px;
        padding: 30px 30px;
    }
    .logo-area img{
        border: 4px solid var(--color-6);
    }
    .side-nav ul{
        margin: 30px 0 0 0;
    }
    .side-nav i{
        margin-right: 10px;
    }
    .side-nav a{
        height: 25px;
        margin: 5px 0;
        font-weight: 400;
    }
    .side-footer{
        width: 100%;
        height: 100px;
    }
    .side-footer p{
        margin: 20px 0 0 0;
    }
    .side-footer ul{
        margin: 20px 0 0 0;
    }
    .side-footer a{
        width: 35px;
        height: 35px;
        border-radius: 4px;
    }

/*---------------------------- Main ---------------------------- */

    .main{
        width: 100% calc(-190px);
        margin-left: 190px;
    }
    
/*---------------------------- About me ----------------------------*/
    .about-section{
        width: 740px;
        height: 450px;
        padding: 50px 0;
        display: flex;
    }
    .about-section-div{
        margin: 30px 0;
    }
    .about-section-div h1{
        margin: 6px 0;
    }
    .about-section-div h3{
        margin: 6px 0;
    }
    .about-section-div a{
        width: 110px;
        height: 35px;
        border-radius: 4px;
        margin-top: 25px;
    }
    
/*---------------------------- Knowledge ----------------------------*/
    .knowledge-section{
        width: 740px;
        padding: 50px 0;
    }
    .knowledge-section h1{
        margin: 6px 0;
    }
    .knowledge-section-div{
        margin: 30px 0;
    }
    .knowledge-section-div-left,
    .knowledge-section-div-right{
        width: 47%;
    }
    .knowledge-section-div h3{
        margin: 15px 0 0 0;
    }
    .progress-chart{
        height: 35px;
        margin: 20px 0 0 0;
    }
    .progress-chart h6{
        margin: 0 0 10px 0;
    }

/*---------------------------- Portfolio ----------------------------*/
    .portfolio-section{
        width: 740px;
        padding: 50px 0;
    }
    .portfolio-section h1{
        margin: 6px 0;
    }
    .portfolio-section-column{
        height: 240px;
        margin: 30px 0;
        padding: 20px;
        border-radius: 12px;
    }
    .portfolio-section-column-img{
        width: 393px;
    }
    .laptop-mockup{
        width: 280px;
        top: 15px;  
    }
    .phone-mockup{
        width: 99px;
        top: 24px;
        right: 0;
    }
    .portfolio-section-column-text{
        width: 200px;
    }
    .portfolio-section-column-text h3{
        margin: 15px 0;
    }
    .portfolio-section-column-text li{
        margin: 10px 0;
    }
    .portfolio-section-column-text li I{
        margin-right: 8PX;
    }
    .portfolio-section-column-text a{
        width: 110px;
        height: 35px;
        border-radius: 4px;
    }
    
/*---------------------------- Education ----------------------------*/
    .education-section{
        width: 740px;
        padding: 50px 0;
    }
    .education-section h1{
        margin: 6px 0;
    }
    .education-section-div{
        margin: 30px 0;
    }
    .education-section-left,
    .education-section-right{
        width: 310px;
        height: 430px;
        padding: 20px;
        border-radius: 10px;
    }
    .education-section-div img{
        margin: 0 0 30px 0;
    }
    .education-section-div h3{
        margin: 0 0 10px;
    }
    .education-section-div h4{
        font-weight: 400;
        margin: 0 0 10px;
    }
    .education-section-div p{
        font-size: var(--p-font-size);
        font-weight: 400;
        margin: 0;
    }
    
/*---------------------------- Contact ----------------------------*/
    .contact-section{
        width: 740px;
        padding: 50px 0 100px 0;
    }
    .contact-section h1{
        margin: 6px 0;
    }
    .contact-section-div{
        margin: 30px 0;
    }
    .contact-section-div li{
        margin: 20px 0;
        font-weight: 500;
    }
    .contact-section-div li I{
        margin-right: 8px;
    }
    .contact-section-div .phone{
        margin-left: 42px;
        font-weight: 300;
    }
    .contact-section-div .mail{
        margin-left: 65px;
        font-weight: 300;
    }
    .contact-section-div .location{
        margin-left: 44px;
        font-weight: 300;
    }
}


/* ============================================ 1000 px ============================================ */

@media screen and (max-width: 1000px) {
    
    :root{
        --a-font-size: 10px;
        --h1-font-size: 28px;
        --h3-font-size: 16px;
        --h4-font-size: 11px;
        --li-2-font-size: 14px;
    }

    /* ---------------------------- Header ---------------------------- */
    header{
        width: 81px;
        padding: 30px 10px 10px 10px;
    }
    .logo-area img{
        border: 2px solid var(--color-6);
    }
    .side-nav i{
        margin-right: 10px;
        padding-left: 10px;
    } 
    .side-nav a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .side-nav ul li{
        display: flex;
        justify-content: center;
    }
    .side-nav ul span{
        display: none;
    }
    .side-footer{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .side-footer ul{
        flex-direction: column;
    }
    .side-footer li{
        align-items: center;
        flex-direction: column;
    }
    .side-footer a{
        margin: 0 0 10px 0;
    }
    .side-footer a:hover{
        color: var(--color-2);
        box-shadow: var(--box-shadow-2)
    }
    .side-footer a:active{
        color: var(--color-3);
        box-shadow: var(--box-shadow-3)
    }

/*---------------------------- Main ---------------------------- */

    .main{
        width: 100% calc(-80px);
        margin-left: 80px;
    }
    
/*---------------------------- About me ----------------------------*/
    .about-section{
        width: 650px;
        height: 400px;
        padding: 40px 0;
    }
    .about-section-div{
        margin: 30px 0;
    }
    .about-section-div h1{
        margin: 5px 0;
    }
    .about-section-div h3{
        margin: 5px 0;
    }
    .about-section-div a{
        width: 90px;
        height: 30px;
    }
    .about-section-div a:hover{
        box-shadow: var(--box-shadow-2)
    }
    .about-section-div a:active{
        color: var(--color-3);
        box-shadow: var(--box-shadow-3)
    }

    /*---------------------------- Knowledge ----------------------------*/
    .knowledge-section{
        width: 650px;
        padding: 40px 0;
    }
    .knowledge-section h1{
        margin: 5px 0;
    }
    .knowledge-section-div{
        margin: 30px 0;
    }
    .knowledge-section-div h3{
        margin: 13px 0 0 0;
    }
    .progress-chart h6{
        margin: 0 0 5px 0;
    }

    /*---------------------------- Portfolio ----------------------------*/
    .portfolio-section{
        width: 650px;
        padding: 40px 0;
    }
    .portfolio-section h1{
        margin: 5px 0;
    }
    .portfolio-section-column{
        height: 240px;
        padding: 18px;
        border-radius: 10px;
    }
    .portfolio-section-column-img{
        width: 393px;
    }
    .portfolio-section-column-text{
        width: 180px;
    }
    .portfolio-section-column-text a{
        width: 90px;
        height: 30px;
    }
    .portfolio-section-column-text a:hover{
        box-shadow: var(--box-shadow-2)
    }
    .portfolio-section-column-text a:active{
        color: var(--color-3);
        box-shadow: var(--box-shadow-3)
    }
    
/*---------------------------- Education ----------------------------*/
    .education-section{
        width: 650px;
        padding: 40px 0;
    }
    .education-section h1{
        margin: 5px 0;
    }
    .education-section-left,
    .education-section-right{
        width: 300px;
        height: 430px;
        padding: 18px;
        border-radius: 10px;
    }
    .education-section-div img{
        margin: 0 0 25px 0;
    }
    
/*---------------------------- Contact ----------------------------*/
    .contact-section{
        width: 650px;
        padding: 40px 0 100px 0;
    }
    .contact-section h1{
        margin: 5px 0;
    }
    .contact-section-div .mail{
        margin-left: 60px;
        font-weight: 300;
    }
}


/* ============================================ 800 px ============================================ */

@media screen and (max-width: 800px) {
    
/*---------------------------- About me ----------------------------*/
    .about-section{
        width: 400px;
    }

/*---------------------------- Knowledge ----------------------------*/
    .knowledge-section{
        width: 400px;
    }
    .knowledge-section-div{
        flex-direction: column;
    }
    .knowledge-section-div-left,
    .knowledge-section-div-right{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .knowledge-section-div-left{
        margin-bottom: 60px;
    }

/*---------------------------- Portfolio ----------------------------*/
    .portfolio-section{
        width: 400px;
    }
    .portfolio-section-column{
        height: 450px;
        flex-direction: column;
    }
    .portfolio-section-column-img{
        width: 100%;
    }
    .laptop-mockup{
        width: 260px;
    }
    .phone-mockup{
        width: 92px;
    }
    .portfolio-section-column-text{
        width: 100%;
        padding-top: 30px;
    }

/*---------------------------- Education ----------------------------*/
    .education-section{
        width: 400px;
    }
    .education-section h1{
        text-align: center;
    }
    .education-section-div{
        flex-direction: column;
        align-items: center;
    }
    .education-section-left,
    .education-section-right{
        width: 100%;
        height: 440px;
    }
    .education-section-left{
        margin-bottom: 60px;
    }
    .education-section-div img{
        margin: 0 0 30px 0;
    }
    .education-section-div img:hover{
        transform: scale(1.2);
    }

    /*---------------------------- Contact ----------------------------*/
    .contact-section{
        width: 400px;
    }
    .contact-section h1{
        margin: 5px 0;
    }
    .contact-section-div .mail{
        margin-left: 60px;
        font-weight: 300;
    }
}


/* ============================================ 550 px ============================================ */

@media screen and (max-width: 550px) {

    :root{
        --h1-font-size: 24px;
        --h3-font-size: 16px;
    }

/*---------------------------- Humb ---------------------------- */
.humb-div{
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background-color: var(--color-1);
    box-shadow: var(--box-shadow-1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.humb-div img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-6);
}
.humb{
    display: flex;
    justify-content: center;
    width: 16px;
}
.humb-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
}


/* ---------------------------- Header ---------------------------- */
header{
    width: 81px;
    padding: 30px 10px 10px 10px;
    z-index: 3;
    transition: 0.5s;
    left: -85px;
}
.logo-area img{
    border: 2px solid var(--color-6);
}
.side-nav i{
    margin-right: 10px;
    padding-left: 10px;
} 
.side-nav a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.side-nav ul li{
    display: flex;
    justify-content: center;
}
.side-nav ul span{
    display: none;
}
.side-footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-footer ul{
    flex-direction: column;
}
.side-footer li{
    align-items: center;
    flex-direction: column;
}
.side-footer a{
    margin: 0 0 10px 0;
}
.side-footer a:hover{
    color: var(--color-2);
    box-shadow: var(--box-shadow-2)
}
.side-footer a:active{
    color: var(--color-3);
    box-shadow: var(--box-shadow-3)
}

/*---------------------------- Main ---------------------------- */
    .main{
        width: 100%;
        margin-left: 0;
    }

/*---------------------------- About me ----------------------------*/
    .about-section{
        width: 90%;
        padding-top: 100px;
    }
    .about-section-div h1{
        text-align: center;
    }
    .about-section-div h3{
        text-align: center;
    }

/*---------------------------- Knowledge ----------------------------*/
    .knowledge-section{
        width: 90%;
    }

/*---------------------------- Portfolio ----------------------------*/
    .portfolio-section{
        width: 90%;
    }
    .portfolio-section-column-img{
        width: 100%;
    }
    .laptop-mockup{
        width: 260px;
        margin-left: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .phone-mockup{
        width: 92px;
        margin-left: 110px;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
    .portfolio-section-column:hover .laptop-mockup,
    .portfolio-section-column:hover .phone-mockup{
        transform: scale(1.1) translateX(-45%);
    
    }

/*---------------------------- Education ----------------------------*/
    .education-section{
        width: 90%;
    }
    .education-section-left,
    .education-section-right{
        height: auto;
        padding-bottom: 30px;
    }

/*---------------------------- Contact ----------------------------*/
    .contact-section{
        width: 90%;
    }
    .s{
        display: none;
    }
    .contact-section-div .phone,
    .contact-section-div .mail,
    .contact-section-div .location{
        margin-left: 20px;
    }

}